<h2>dashboard</h2>

<div>
    <h3>Add Pet</h3>
    <input ng-model="vm.newPet.pet"  type="text" placeholder="Pet Name">
    <input ng-model="vm.newPet.color"  type="text" placeholder="Pet Color">
    <input ng-model="vm.newPet.breed"  type="text" placeholder="Pet Breed">
    <select ng-model="vm.newPet.owner_id">
        <option disable selected value>Owner Name</option>
        <option ng-repeat="owner in vm.ownerList.list" value="{{owner.id}}">{{owner.name}}</option>
    </select>
    <button ng-click="vm.addPet(vm.newPet)">Submit</button>
</div>
<h3>History</h3>
<div ng-repeat="list in vm.petList.list">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Owner</th>
                <th>Pet</th>
                <th>Breed</th>
                <th>Color</th>
                <th>Checked In</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <td>{{list.name}}</td>
            <td>{{list.pet}}</td>
            <td>{{list.breed}}</td>
            <td>{{list.color}}</td>
            <td>{{list.checkedIn}}</td>
            <td>
                <button ng-click="vm.removePet(list.owner_id)">Delete</button>
                <button>Check In</button>
            </td>
        </tbody>
    </table>   
</div>
