<h2>dashboard</h2>
<div>
    <input type="text" placeholder="Pet Name">
    <input type="text" placeholder="Pet Color">
    <input type="text" placeholder="Pet Breed">
    <select>
        <option disable selected value>Owner Name</option>
        <option>{{}}</option>
    </select>
</div>
<div ng-repeat="list in vm.petList">
<div class="container">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Owner</th>
                <th>Pet</th>
                <th>Breed</th>
                <th>Color</th>
                <th>Checked In?</th>
            </tr>
        </thead>
        <tbody>
            <td>{{list.owner}}</td>
            <td> {{list.pet}}</td>
            <td> {{list.breed}}</td>
            <td>{{list.color}}</td>
            <td>{{list.checkedIn}}</td>
        </tbody>

    </table>    

</div>
</div>