<h2>manage</h2>

<h3>Add Owner</h3>
<input ng-model="vm.newOwner.owner" type="text" placeholder="Owner Name">
<button ng-click="vm.addOwner(vm.newOwner)">Submit</button>

<h3>Owners</h3>
<div ng-repeat="list in vm.ownerList.list">
    <div class="container">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Number of Pets</th>
                    <th>Actions</th>
                </tr>
            </thead>
                <tbody>
                    <td>{{list.name}}</td>
                    <td>{{list.numberOfPets}}</td>
                    <td>Delete</td>
                </tbody>
            </table>    
    </div>
</div>